<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		   http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/data/jpa 
           http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	
	<!-- Including flyway here so the depends-on chaining between Flyway and db classes is clear -->
	<bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate">
	    <property name="dataSource" ref="dataSource"/>
	</bean>
	<!-- Package for repository loading -->
	<jpa:repositories base-package="io.github.ahisley.repository" />
  	
	<!-- Using a JPA entity manager with Hibernate JPA support  -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" depends-on="flyway">
		<property name="dataSource" ref="dataSource"/>
		<property name="jpaVendorAdapter">
	      	<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
	       		<property name="database" value="HSQL"/> 
	  		</bean>
	    </property>
		<property name="packagesToScan" value="io.github.ahisley.domain"/>
		<property name="jpaProperties">
			<props>
	  		<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
	  		<prop key="hibernate.show_sql">false</prop>
	  		<prop key="hibernate.format_sql">false</prop>			
	  	</props>
		</property>
	</bean>

  
  
</beans>
